body {
  background-color: #11b237;
}

.container {
  clear: both;
  text-align: center;
}

.navbar{
  height: 15px;
  position: absolute;
  top: 25px;
  right: 15px;
}

#get_healthy{
  display: inline;
}

#links{
  float: right;
  display: inline;
}